nav {
    position: sticky;
    top: 0;
  }
  
  nav ul{
    position: sticky;
    top: 0;
    margin:0px;
    list-style-type: none;
    overflow: hidden;
    background-color:beige;
    text-align: center;
    width: 100% 
  }
  
  nav li{
    display:inline-block;
    padding: 18px;
    padding-right: 45px;
  }
  
  nav li a{
    color: rgb(161, 37, 119);
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  nav li a:hover{
    background-color: rgb(144, 21, 109);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
body{
    overflow-x: hidden;
    
}
.grid-cont{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-auto-rows: 15em;
    grid-gap: 2em;

}

.img-cont img{
    align-items: center;
    width: 15em;
    height: 15em;
}

.img-cont img:hover{
    color: rgb(179, 245, 204);
    transform: scale(1.5);
}